:root {
  --red: #de1a00;
  --orange: #ff8000;
  --yellow: #dec800;
  --green: #52eb00;
  --dgreen: #338208;
  --blue: #00a6ff;
  --brown: #633902;
}

.App {
  height: 100vh;
  display: flex;
}

.Body {
  width: 60vw;
  height: 80vh;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
}

.Header {
  text-align: right;
}

.Header h1 {
  font-size: 2rem;
}

.Header h2 {
  font-size: 1.2rem;
}

.Header p {
  font-size: 0.8rem;
}

.Header small {
  font-size: 0.75rem;
}

.Header .url {
  color: var(--green);
}

.Header .code {
  color: var(--red);
}
