@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html {
  font-size: 1.5vw;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -ms-content-zooming: none;
  touch-action: none;
  font-family: "Fira Code", monospace;
  background: #000;
  color: #fff;
}