.Leaderboard p {
  font-size: 0.65rem;
  font-weight: 300;
  column-width: 30%;
  column-count: 3;
  margin: 0;
  padding: 0;
  text-align: right;
}

.Leaderboard .stars {
  font-weight: 500;
  color: var(--yellow);
}

.LeaderboardError {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  padding: 3px 6px;
  background: rgba(255, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
